
      html {
        font-family: sans-serif;
      }

      body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
        background-color: rgb(174, 174, 174);
        
      }
      
      .form input[type="number"] {
        width: 200px;
        
      }

      .lastResult {
        color: rgb(223, 219, 219);
        padding: 3px;
      }
    
      h1 {
        color: rgb(5, 6, 17);
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      p {
        color:rgb(3, 3, 3);
        align-items: center;
        justify-content: center;
        display: flex;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
      }

    

      .guessSubmit {
        color: rgb(247, 243, 243);
        background-color: rgb(0, 0, 0);
        border-radius: 4px;
        border: none;
        outline: none;
        background: -webkit-linear-gradient(to right, #093aae, #418ee6, #84bdef);
        background: linear-gradient(to right, #042da8, #1767bc, #078aee);
        transition: all 0.3s ease; 
        padding: 10px 10px;
      }

      .form {
        align-items: center;
        justify-content: center;
        display: flex;

      }